.button
{
    -fx-border-width: 4;
    -fx-border-color: #228B22;
    -fx-border-radius: 30;
    -fx-background-radius: 40;
    -fx-background-color: #00FA9A;
}

.button:hover
{
    -fx-border-width: 4;
    -fx-border-color: #228B22;
    -fx-border-radius: 30;
    -fx-background-radius: 40;
    -fx-background-color: #98FB98;
}

.button:pressed
{
    -fx-border-width: 4;
    -fx-border-color: #228B22;
    -fx-border-radius: 30;
    -fx-background-radius: 40;
    -fx-background-color: #98FB98;
}